body {

}
body * {
	color: #37474F;
}
h1, p, h2, button, .outputLabel {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}
main {
	width: 98%;
	margin: 0 auto;
	max-width: 600px;
	padding-bottom: 40px;
}
h2 {
	font-weight: normal;
	font-size: 1.25em;
	border: none;
	padding: 20px 0 10px;
	margin: 0;
}
#aTitle {
	padding-top: 10px;
}
.screen, .output {
	font-family: 'Roboto Mono', monospace;
}
form {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.leftButton {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.rightButton {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.counterTitle {
	flex: 1 1 100%;
}
.plusMinus {
	flex: 1 1 20%;
	font-weight: 700;
	font-size: 2em;
	padding: 20px 0;
	color: white;
	border: none;
	/*background: #E57373;*/
	background: linear-gradient(#EF9A9A, #E57373);
	/*transition: all 0.1s ease-in-out;*/
}
.plusMinus:hover {
	background: #EF9A9A;
}
.plusMinus:active {
	background: #E57373;
}
.screen {
	border-top: 1px solid #ECEFF1;
	border-bottom: 1px solid #CFD8DC;
	flex: 1 1 50%;
	font-size: 2em;
	padding: 16px 0;
	text-align: center;
}
.clear {
	flex: 1 100%;
	background: linear-gradient(#ECEFF1, #CFD8DC);
	color: #455A64;
	border: none;
	margin: 10px 0 0;
	padding: 5px 0;
	font-size: 1em;
	border-radius: 5px;
}
.clear:hover {
	background: #ECEFF1;
	color: #546E7A;
}
.clear:active {
	background: #CFD8DC;
}
.outputLabel {
	flex: 0 0 50%;
	margin: 20px 0 0;
}
#aFraction, #bFraction {
	text-align: left;
}
.output {
	flex: 1 1 25%;
	text-align: right;
	height: 20px;
	margin: 20px 0 10px;
	font-size: 1em;
}
footer {
	text-align: center;
	width: 100%;
	background: #333;
	position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
	box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
}
footer a {
	padding: 0.5em 0 0.25em;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.4);
}
footer img {
	height: 1.25em;
	opacity: 0.25;
}
footer img:hover {
	opacity: 0.5;
}
footer img:active {
	opacity: 0.3;
}
